* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    box-sizing: border-box; 
}

body {

    font-family: TT Lakes;
}

@media screen and ((width >= 320px) or (width <= 319px)) {
    .header-media768 {
        display: none;
    }

    .main-info__icons {
        display: none;
    }

    .main-info__add-text {
        display: none;
    }

    .main-info__add-text-2 {
        display: none;
    }

    .header-media320 {
        background-color: white;
        display: flex;
        width: 100%;
        height: 88px;
        justify-content:space-around;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .header-media320__items {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #FF3E79;
        border-radius: 50%;
        cursor: pointer;
    }

    .header-media320__logo {
        width: 96.55px;
        height: 50.81px;
        background-color: transparent;
    }

    .header-media320__divider {
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }

    .header-shadow {
        height: 1px;
        background-color: #D9FFF5;
    }


    .main-info {
        height: 100%;
        background-color: #F8F8F8;
    }

    .main-info__title {
        font-family: TT Lakes;
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        padding-left: 16px;
    }

    .main-info__header1120 {
        padding-top: 20px;
    }

    .main-info__title::before {
        content: "";
        display: block;
        position: relative;
        top: 23px;
        right: 34px;
        transform: rotate(-90deg);
        width: 40px;
        height: 4px;
        background-color: #41F6D7;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
        padding-left: 0.5px;
    }

    .main-info__menu {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 20px;
        row-gap: 10px;
        overflow-x: auto;
        scrollbar-width: none;
        white-space: nowrap;
        margin-top: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #7E7E82;
        padding-left: 16px;
        
    }

    .main-info__item-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        max-width: 100%;
        height: 40px;
        padding: 10px;
        color: #7E7E82;
        cursor: pointer;
    }

    .main-info__item-menu--active {
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        background-color: white;
    }

    .main-info__all{
        margin-top: 30px;
    }

    .main-info__description, 
    .main-info__add-text,
    .main-info__add-text-2 {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.2px;
        padding-left: 16px;
    }



    .main-info__read-more {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding-left: 16px;
    }

    .main-info__read-more::before {
        content: url("../img/ic/icon_2.svg");
        width: 24px;
        height: 24px;
        padding-right: 12px;
        padding-left: 8px;
    }

    .main-info__img {
        width: 100%;
        margin-bottom: 40px;
    }

}


@media screen and (width >= 360px) {
    .main-info__img {
        width: 360px;
    }
}


@media screen and (width >= 500px) {


    .main-info__title {
        padding-left: 20px;
    }

    .main-info__title::before {
        top: 23px;
        right: 38px;
    }
}



@media screen and (width >= 768px) {
    .header-media320 {
        display: none;
    }

    .main-info__continue {
        display: none;
    }

    .header-media768 {
        background-color: white;
        display: flex;
        width: 100%;
        height: 88px;
        justify-content:space-around;
        align-items: center;
    }

    .header-media768-left {
        display: flex;
        justify-content: flex-start;
        height: 88px;
        align-items: center;
        width: 50%;
        gap: 15px;
        padding-left: 20px;
    }

    .header-media768-right {
        display: flex;
        height: 88px;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        gap: 15px;
        padding-right: 20px;
    }

    .header-media768__items {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #FF3E79;
        border-radius: 50%;
        cursor: pointer;
    }


    .header-media768__logo {
        width: 96.55px;
        height: 50.81px;
        background-color: transparent;
    }

    .header-media768__divider {
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        margin-left: 5px;
        margin-right: 5px;
    }


    .main-info {
        height: 100%;
        background-color: #F8F8F8;
    }

    .main-info__title {
        padding-left: 24px;
    }

    .main-info__title::before {
        top: 23px;
        right: 42px;
    }

    .main-info__menu {
        padding-left: 24px;
    }


    .main-info__all {
        display: flex;
        flex-direction: row;
        gap: 48px;
    }

    .main-info__text {
        padding-top: 10px;
    }

    .main-info__add-text {
        display: block;
        font-size: 14px;
        margin-top: 20px;
    }

    .main-info__description,
    .main-info__add-text {
        padding-left: 24px;
    }

    .main-info__read-more {
        padding-left: 24px;
        margin-top: 12px;
        margin-bottom: 0;
    }

    .main-info__read-more::before {
        padding-left: 10px;
    }
    
    .main-info__img {
        margin-right: 24px;
        width: 50%;
        height: 100%;
        border-radius: 10px;
        margin-bottom: 40px;
    }
}



@media screen and (width >= 1120px) {
    body {
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }

    .main-info {
        background-color: #F8F8F8;
    }

    .header-media768 {
        display: none;
    }

    .main-info__header1120 {
        display: flex;
        padding-top: 42px;
        justify-content: space-between;
    }

    .main-info__title {
        margin-top: 0;
    }


    .main-info__icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

    .main-info__items {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #FF3E79;
        border-radius: 50%;
        cursor: pointer; 
    }

    .main-info__settings, 
    .main-info__search {
        display: flex;
        align-items: center;
        margin-right: 15px;
    }

    .main-info__icons-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;

    }

    .main-info__title {
        padding-left: 33px;
    }

    .main-info__title::before {
        top: 23px;
        right: 51px;
    }

    .main-info__menu {
        padding-left: 33px;
        flex-wrap: wrap;
    }

    .main-info__item-menu {
        padding: 12px;
    }

    .main-info__all {
        gap: 30px;
        margin-top: 0;
    }

    .main-info__text {
        padding-top: 15px;
    }

    .main-info__add-text-2 {
        display: block;
    }

    .main-info__continue {
        display: inline;
    }


    .main-info__description,
    .main-info__add-text,
    .main-info__add-text-2 {
        padding-left: 33px;
    }


    .main-info__read-more {
        padding-left: 33px;
    }

    .main-info__read-more::before {
        padding-left: 5px;
        padding-right: 15px;
    }

    .main-info__img {
        margin-right: 24px;
    }

    .main-info__item-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        max-width: 100%;
        height: 40px;
        padding: 10px;
        color: #7E7E82;
    }
}

